header{
  font-family: 'Times New Roman', Times, serif;
  font-size: 75px;
  color: rgb(118, 161, 165)
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }

  .funfact {
    color: green;
    font-style: italic;
    border: 20px;
    background-color: aquamarine;
    border: 3px solid blue;
    border-radius: 20px;
    padding: auto;
  }
  .box{
    width: 500px;
    height: 205px;
  }
#funfacts1{
  border: 5px dotted red;
  background-color: bisque;
}