header{
  font-family: 'Times New Roman', Times, serif;
  font-size: 75px;
  color: rgb(118, 161, 165)
}
body {
    background-color: powderblue;
  }
  h1 {
    color: blue;
  }

  .funfact {
    color: green;
    font-style: italic;
    border: 20px;
    background-color: aquamarine;
    border: 3px solid blue;
    border-radius: 20px;
    padding: auto;
  }
  .box{
    width: 500px;
    height: 205px;
    margin:auto;
  }
#funfacts1{
  border: 5px dotted red;
  background-color: bisque;
  margin: auto;
}
#img1{
  height: 300px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#funfactIntro{
  margin: auto;
  text-align: center;
}
#goodbyemessage{
  margin: auto;
  text-align: center;
  align-items: center;
}
#addme{
  margin: auto;
  text-align: center;
}
#LinkedInLink{
  margin:auto;
  text-align: center;
}
#LinkedInLink:hover{
  color:red;
}